#calccontainer{
    height: 480px;
    width: 320px;
    margin: 0 auto;
    /* border: 2px solid red; outline */
}

input#resultpanel[readonly]{
    text-align: end;
    font-size: 70px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

button{
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    margin: 1px;
}
.num{
   
}

