#calccontainer{
    height: 540px;
    width: 320px;
    margin: 0 auto;
    /*border: 2px solid red; outline*/
}

#calcpanel{
    display: flex;
    flex-direction: column;
}

input#resultpanel[readonly]{
    text-align: end;
    font-size: 70px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

#entrypanel{
    height: 30px;
    text-align: end;
    font-size: 20px;
    font-weight: bold;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

button{
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    margin: 1px;
}
.num{
   
}

